body
{
  font-family: 'Courier New';

}
.header
{
    background-color: #080808;
    color:white;
    height: 500%;
    width: 100%;
}
.nav ul li
{
    
  display: inline;
  padding-right: 4%;
  padding-left: 4%;
  font-size: large;

}
.navBar
{
  background-color: #1b1b1b; 
  height: 25%;
  margin: 0% 5% 0% 5%;
  padding: 3% 3% 3% 3%;

}
.details
{

  height: auto;
  width: 30%;
  margin-top: 10%;
  margin-left: 11.2%;
}
.worked
{
  width: 75%;
  margin-left: 11%;
  margin-top: 15%;
  padding-bottom: 2%;
}
.worked ul li
{
  display: inline;
  padding-right: 8%;
  padding-left: 6%;
  font-size: large;

}
